{% extends '@BlogWeb/layout.html.twig' %}

{% block breadcrumb_after_homepage %}<li><a href="">Hire a professional</a></li>{% endblock %}

{% block title %}Hire a profesional | Lectures & Consultation{% endblock %}

{% block content %}
    <h1>Hire web developer professional</h1>

    <h2>Permanent Contract</h2>
    Current coutry: <strong>Slovakia</strong><br>
    Current status: Unfortunately, I'm <strong>not looking for a job</strong> right now....
    <br><br>
    ...but despite these lines you can contant me if you like my articles and your offer is interesting.<br>What is interesting except salary:
    I'm working as senior web developer, but I want to going further - position like <strong>team leader</strong> / <strong>software architect</strong> and/or <strong>code reviewer</strong> is my next goal.
    On the other hand I love Scotland and I'm ready to move to this location for any programming job.
    <br><br>
    <h2>Consultations</h2>
    If you have startup / nice project you need help with in form of consultation than contact me. I'm willing to travel abroad.<br>
    Consultation topics: depends on you
   {# Programming is my hobby. I will be happy to help you with simple problem / question. In case your company need complex solution you can hire me.
    Prague, Brno, Bratislava, Budapest, Krakow#}

    <h2>Lectures</h2>
    <p>I could provide lectures in your company about this topics:</p>
    <ul>
        <li>PHP: Clean code
            <ul>
                <li>How to name: variables, functions, class & methods</li>
                <li>How to use comments</li>
                <li>How to format code for better readability</li>
                <li>Closer look on objects</li>
                <li>KISS, DRY & SOLID principles</li>
                <li>How to use this principles in database & templates</li>
                <li>Bonus: many real life examples on project I was working on</li>
            </ul>
        </li>
    </ul>
    <ul>
        <li>PHP: Unit testing from scratch to advanced level</li>
        <ul>
            <li>Introduction</li>
            <li>FIRST principle</li>
            <li>What are unit tests?</li>
            <li>What aren't unit tests?</li>
            <li>Going further: integrations tests with Symfony (even on non-symfony project)</li>
            <li>Going further: integrations tests with Selenium</li>
            <li>Bonus: Unit test & clean code</li>
        </ul>
    </ul>

    <ul>
        <li>Symfony
            <ul>
                <li>Introduction</li>
                <li>Twig</li>
                <li>Commands</li>
                <li>Forms</li>
                <li>Events</li>
                <li>Advanced configuration</li>
                <li>Let's make backed: Sonata Admin</li>
            </ul>
        </li>
    </ul>

    <ul>
        <li>Web Application security - Ethical hacking from scratch to advanced techniques
            <ul>
                <li>Code Execution Vulnerabilities</li>
                <li>File Inclusion Vulnerabilities</li>
                <li>File Upload Vulnerabilities</li>
                <li>XSS Vulnerabilities</li>
                <li>Dangerous URL Redirects</li>
                <li>Cross Site Request Forgery Vulnerabilities</li>
                <li>Sql Injection</li>
                <li>Bonus: Let's hack it - real attack on famous ajax upload in the Lab</li>
                <li>My hacker games profiles
                    <ul>
                        <li>hackthissite.org <a href="https://www.hackthissite.org/user/view/D0ktor" target="_blank">profile</a> (probably cannot open directly so search by my username)</li>
                        <li>hellboundhackers.org <a href="https://www.hellboundhackers.org/user/D0ktor.html" target="_blank">profile</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
    <p><strong>Price:</strong> on request</p>
    <p><strong>Duration:</strong> each lecture (except Symfony) is 1 day (8 hours) in your company, each lecture can be adjusted by your needs</p>


{% endblock %}

