<h3>Newest articles</h3>
<ul class="list">
{% for article in articles %}
    <li><a href="{{ url('blog_article', {articleId: article.articleid, slug: article.slug}) }}">{{ article.title }}</a></li>
{% endfor %}
</ul>